<h1>Listing pics</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
 	<th></th>
  </tr>

<% @pics.each do |pic| %>
  <tr>
    <td><%= pic.name %></td>
	<td><%= image_tag pic.pic.url(:thumb) %></td>
    <td><%= link_to 'Show', pic %></td>
    <td><%= link_to 'Edit', edit_pic_path(pic) %></td>
    <td><%= link_to 'Destroy', pic, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pic', new_pic_path %>
